class {
    onCreate() {
        this.state = {
            mounted: false
        };
    }
    onMount() {
        this.state.mounted = true;
    }
}

<div>
    <if(state.mounted)>
        UI component successfully mounted!
    </if>

    <click-count/>
</div>
